.downBtn {
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(221, 221, 221);
  background-color: white;
}

.downBtn:hover {
  background-color: rgb(251, 237, 158);
}

.itemsSearch {
  border-radius: 5px;
  border-width: 1px;
  margin: 5px;
  border-color: rgb(221, 221, 221);
  background-color: white;
}

.itemsSearch:hover {
  background-color: rgb(251, 237, 158);
}

.clearBtn {
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(221, 221, 221);
  background-color: white;
}

.clearBtn:hover {
  background-color: rgb(251, 237, 158);
}
